<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<center><h1>Welcome to BJIT</h1></center>

<form action="receive" method="post">

    <label for="name">Name</label><br>
    <input type="text" name="name"><br>
    <label for="age">Age</label><br>
    <input type="text" name="age"><br>
    <label for="address">Address</label><br>
    <input type="text" name="address"><br><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>